{% extends 'base2.html' %}

{% block content %}

    <div id="blog_post">
        <div class="container">
            <form class="form-horizontal" role="form" method="POST"> {% csrf_token %}

               <div class="form-group">
                <label for="inputNombre" class="col-sm-3 control-label">Nombre de usuario:</label>
                <div class="col-sm-9">
                  <label for="labelNombre" >{{ usuario.username }} </label>
                </div>
              </div>

               <div class="form-group">
                <label for="inputEmail" class="col-sm-3 control-label">Email:</label>
                <div class="col-sm-9">
                  {{ usuario_Form.email }} 
                </div>
              </div>

              <div class="form-group">
                <label for="inputNombre" class="col-sm-3 control-label">Nombre:</label>
                <div class="col-sm-9">
                  {{ usuario_Form.first_name }}  
                </div>
              </div>

              <div class="form-group">
                <label for="inputApellido" class="col-sm-3 control-label">Apellido:</label>
                <div class="col-sm-9">
                  {{ usuario_Form.last_name }}  
                </div>
              </div>



              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Guardar</button>
                </div>
              </div>

            </form>
            {{ usuario_Form.errors }} 
        </div>
	 </div>

    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row info">
                <div class="col-md-6 residence">
                    
                </div>
                <div class="col-md-5 touch">
                   
                </div>
            </div>
            <div class="row credits">
                <div class="col-md-12">
                    <div class="row social">
                        <div class="col-md-12">
                            <a href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="gplus">
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="pinterest">
                                <span class="socialicons ico5"></span>
                                <span class="socialicons_h ico5h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                            <a href="#" class="behance">
                                <span class="socialicons ico7"></span>
                                <span class="socialicons_h ico7h"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="col-md-12">
                            © 2013 emedios. All rights reserved.
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </footer>

{% endblock %}